<md-toolbar role="header">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" type="button" aria-label="Add contact" ng-click="ctrl.goBack()">
            <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <h2>{{::ctrl.headerTitle}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" type="submit" aria-label="Add contact">
            <md-icon md-font-set="material-icons">done</md-icon>
        </md-button>
    </div>
</md-toolbar>